# Application environment (development | test | production)
APP_ENV=development

# PostgreSQL
DATABASE_URL=postgres://postgres:admin@localhost:5432/battle_engine_development

# RabbitMQ
RABBITMQ_URL=amqp://guest:admin@localhost:5672

# Log level (debug | info | warn | error | fatal)
LOG_LEVEL=debug
